/* CSS Document */
body, p, input, h1, h2, h3, h4, h5, h6, ul, dl, dt, dd, form, textarea{margin:0;padding:0;list-style:none;vertical-align:middle;}
body{font-family:"\5FAE\8F6F\96C5\9ED1", Helvetica;color:#333;-webkit-user-select:none;-webkit-text-size-adjust:none;font-size:12px; background:#fff;}
header, section, footer{display:block;margin:0;padding:0;}
img{border:none;border:0;max-width:100%;}
em,i{font-style:normal;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
h1,h2,h3{font-weight:300;}
input,textarea{-webkit-appearance:none;}
header,footer,section,aside,article,nav,dialog,figure{display:block;}
.clearfix:after{content:"";visibility:hidden;display:block;height:0;clear:both;}
.clearfix{clear:both;zoom:1;}
.clear{clear:both;overflow:hidden;}
*:focus{outline:none;}

/* -------游戏页顶部20140707------ */
.pop_btn{height:120px;line-height:30px;margin-top:10px;font-size:14px;}
.close2{ background:url(/images/icons_2x.png) no-repeat; background-size:45px 50px;}
.m_pop{ background:#fff; width:280px; min-height:150px; border-radius:10px; position:absolute; margin:0 auto;z-index:1000;display:none}
.m_pop .close2{ width:45px; height:45px; display:block; position:absolute; right:-20px; top:-20px; cursor:pointer }
.m_pop .body{ padding:20px 0px;}
.m_pop .warnbox{ padding:0 20px;}
.m_pop p{ font-size:13px;}
.m_pop .upd{ color:#1187c4; text-decoration:underline;}
.m_pop .tips{ text-align:center;margin-top:-8px}
.m_pop .htips{ font-weight:700; font-size:14px; text-align:center;}
.pop_btn{text-align:center;width:100%;}
.pop_btn a{ display:block;width:80%;height:34px;line-height:34px;margin:6px auto 0;cursor:pointer;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; text-align:center;background-color: #44bede;-webkit-box-shadow: 0 3px #4194ae;-moz-box-shadow: 0 3px #4194ae;box-shadow: 0 3px #4194ae;color:#fff;font-size:18px;}
.m_sharepop{ width:155px; overflow:hidden;position:absolute;right:0px;z-index:9999;display:none}
.m_sharepop .sharearr{ background:url(/images/sharetips.png) no-repeat 100% 0; background-size:75px 64px; height:64px;  }
.m_sharepop .sharearr .cls{ width:16px; height:16px; float:right; margin-top:2px; cursor:pointer}
.m_sharepop .btnmask{ background:#fff; margin-top:5px; width:155px; height: 45px; overflow:hidden; border-radius:5px; }
.m_sharepop .btnmask .g_grebtn{ margin:5px auto 0;}
.m_sharepop .btnmask .g_grebtn i{ margin-left:1px;}
.block_overlay {display:none;position:absolute;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:100;opacity:0.5;}
.game{position:relative; overflow: hidden}
.n_loading{background:#000;opacity:0.3px;position:absolute;top:0;left:0;width:100%;height:100%;z-index:99998;display:none;}
.n_loading img{position:absolute;z-index:99999;}
.n_load_txt{width:100%;height:36px;line-height:36px;color:#FFF;text-align:center;font-size:18px;position:absolute;bottom:60px;left:0;z-index:999999;}
.n_load_bar{background:#318c49;margin:0;width:100%;height:36px;line-height:36px;color:#FFF;text-align:center;font-size:18px;-webkit-animation:bar linear 5s 1;position:absolute;bottom:20px;left:0;z-index:999999;}
@-webkit-keyframes bar{
	0%{width:0;}
    20%{width:20%;}
    40%{width:40%;}
    80%{width:80%;}
    98%{width:98%;}
}

.popbg{background-color:rgba(0,0,0,0.7);position:fixed;width:100%;height:100%;top:0;left:0;}
.pop{width:300px;padding-bottom:15px;background-color:#fff;position:absolute;line-height:22px;}
.close{background:url(/images/play/close.png) no-repeat;width:12px;height:12px;background-size:auto 12px;position:absolute;display:block;top:5px;right:5px;line-height:200px;overflow:hidden;}
.poptit{padding-top:22px;font-weight:bold;font-size:18px;text-align:center;border-bottom:2px solid #fd7527;padding-bottom:10px;margin-bottom:10px;}
.mntab ul{display:block;}
.mntab li{height:25px;margin:10px 0;line-height:25px;text-align:center;}
.mntab li span{float:left;height:25px;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mntab .hd li{border-bottom:2px solid #e5e5e5; margin:0;}
.mntab .hd .sp3 em{display:block;padding-right:5px;}
.mntab li .sp1{width:15%;}
.mntab .shenl{ text-align:center; font-size:20px; line-height:12px;}
.mntab li .sp1 img{margin:0 auto}
.mntab li .sp2{width:60%;text-align:left;}
.mntab li .sp3{width:25%;}
.mntab li .sp2 img{float:left;margin-right:5px;border-radius:50%;width:25px;height:25px;}
.popbg .mntab .tbc{height:220px;overflow-y:scroll}
.pbtns{text-align:center;}
.pbtns a{display:inline-block;height:28px;line-height:28px;font-size:14px;color:#fff;padding:0 10px;text-decoration:none;border-radius:4px;margin:0 5px 10px;}
.pbtns .a1{box-shadow:0 2px 0 #cc5e20;background-color:#ff7528;}
.pbtns .a2{box-shadow:0 2px 0 #5c9f08;background-color:#73c70a;}
.pbtns .a3{box-shadow:0 2px 0 #2e91ca;background-color:#3ab1f5;padding:0 18px;}
.col1{color:#fd7527}
.pop img{border:0;display:block}
.step2{display:none}
